@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Press Start 2P";
}

::-webkit-scrollbar {
    width: 5px;
    color: violet;
}

::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}

.name-title{
    text-align: center;
    margin: 10px;
    font-size: 40px;
}

strong {
    text-shadow: 5px 5px 5px red;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: #d95550;
    overflow: auto;
}

main{
    margin-top: 20px;
}

hr{
    border: none;
    background-color: #d95550;
    height: 2px ;
    width: 60%;
    margin: 0 auto;
    margin-top: 5px;
}

.container-watch{
    width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
}

a.btn-reset{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    text-decoration: none;
    display: none;
}

.timer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-align: center;
    position: relative;
}

.container-laps{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn{
    font-size: 20px;
    background-color: white;
    border: none;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px 50px;
    color: #d95550;
}

.container-features{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 30px;
}

.container-lap{
    width: 70%;
    margin: 0 auto;
    margin-top:10px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

small{
    font-size: 10px;
}

#list-of-laps{
    margin-top: 10px;
    min-height: 280px;
    max-height: 450px;
    overflow: auto;
    position: relative;
}
